{% extends 'base.html' %} {% block extrastyle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% load widget_tweaks %}
<script type="text/javascript">
  // the selector will match all input controls of type :checkbox
  // and attach a click event handler
  $("input:checkbox").on("click", function () {
    // in the handler, 'this' refers to the box clicked on
    var $box = $(this);
    if ($box.is(":checked")) {
      // the name of the box is retrieved using the .attr() method
      // as it is assumed and expected to be immutable
      var group = "input:checkbox[name='" + $box.attr("name") + "']";
      // the checked state of the group/box on the other hand will change
      // and the current value is retrieved using .prop() method
      $(group).prop("checked", false);
      $box.prop("checked", true);
    } else {
      $box.prop("checked", false);
    }
  });
</script>
{% endblock%} {% block content %}
<div class="container">
  <form action="" method="post" id="submitForm">
    {% csrf_token %} {% for field in form %}

    <label class="control-label" for="">{{field.label}}</label>
    {% render_field field class='form-control' %} {% endfor %}

    <div>
      <label for="" class="control-label">1 year</label>
      <input type="radio" name="date_expired" id="" value="1y" />

      <label for="" class="control-label">3 years</label>
      <input type="radio" name="date_expired" id="" value="3y" />

      <label for="" class="control-label">5 years</label>
      <input type="radio" name="date_expired" id="" value="5y" />
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
      value="_filter"
      name="_filter"
    >
      Create
    </button>
  </form>
</div>
{% endblock %}
