{% extends 'base.html' %}

{% block extrastyle %}
	{% load widget_tweaks %}
{% endblock %}

{% block content %}
{% if filter_obj.form %}
                <form class="search-form" action="." method="GET">
                    <div class="row">
                        <div class="col-xs-7">
                            {% for field in filter_obj.form %}  
                                <div class="col">
                                    <label class="control-label" for="">{{field.label}}</label>
                                    {% render_field field class='form-control' %}
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-info" value="_filter" name="_filter">Filter</button>
                            <button type="submit" class="btn" value="_clear" name="_clear">Clear</button> 
                        </div> 
                    </div>
                </form>
{% endif %}
{% endblock %}